<!DOCTYPE html>
<html>
  <%- include layout/head %>
  <body>
    <h1>Halaman Edit Item</h1>

    <form class="" style="margin-top:10px;" action="/items/edit/<%= dtItem.id %>" method="POST">
      <input type="text" name="name" value= "<%= dtItem.name%>" placeholder="Masukan Nama Item">
      <input type="text" name="brand" value= "<%= dtItem.brand%>" placeholder="Masukan Nama Brand">
      <input type="text" name="codeitem" value= "<%= dtItem.codeitem%>" placeholder="Masukan Code Item">
      <input type="submit" value="SUBMIT">
    </form>
  </body>
</html>
